.Main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.main_description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
}

/* h2 {
    margin-bottom: 0%;
} */

.search_food {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_input {
    margin-right: 10px;
}

.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 1750px;
    text-align: center;
    color: lightgray;
}

.main_h2 {
    margin-bottom: 0px;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.pagination li.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination li:hover:not(.active) {
    background-color: #eee;
}

.food_list {
    margin-top: 0;
}

.food_item {
    margin-bottom: 4px;
}

.intake_paginate{
    display: flex;
    justify-content: center;
}